        	<div class="boxcol">
            	<div class="boxhead">
                	<p>Sản phẩm tiêu biểu</p>
                </div>
				<div class="home2">
  					<ul class="product">
                    {foreach $sanpham as $item}
                    <li>    	
                        <a href="#">
                            <img src="{substr($item.sanpham_link,3)}" class="sp" />
                        </a><br>
                        <a href="index.php?mod=sp&act=chitiet&id={$item.sanpham_id}" class="title">{$item.sanpham_ten}</a><br>
                        <span class="price">{$item.sanpham_gia|number_format} VNĐ</span>
						<div><a href="index.php?mod=giohang&id={$item.sanpham_id}"  class="giohang">Đặt mua</a></div>
                    </li>
                    {/foreach}
                    </ul>
				</div>
            	<div class="pageduoi">{$lib->viewpage('?mod=sp&n=')}</div>
			</div>