		<form action="" method="post" name="form1" id="form1">
            <h1 align="center">Quản lý tài khoản</h1>
            <table width="100%" border="0" cellpadding="5" cellspacing="5">
              <tr>
                <td width="25%">Họ và tên</td>
                <td width="75%"><input type="text" name="txtten" class="text-input medium-size" {if $id >0} value="{$detail.taikhoan_hoten}"{/if}></td>
              </tr>
              <tr>
                <td>Tài khoản *</td>
                <td><input type="text" name="txtuser" id="txtuser"
                 class="text-input small-size validate[required,maxSize[32],custom[onlyLetterNumber]]" {if $id >0} value="{$detail.taikhoan_user}" disabled{/if}>
                 
                 <label id="lbuser" style="padding:7px 0px 0px 7px; float:left"></label>
					<script>
                    $(document).ready(function(e) {
                        //bắt sự kiện phím nhẩy lên trên Form user
                        $("#txtuser").keyup(function(e) {
                            var u=$(this).val();//Lấy ra tên đăng nhập trên form user
								//$("#lbuser").html('<img src="images/loading.gif">');       
								//Nếu tồn tại user Gọi Hàm ajax qua phương thức get truyền dữ liệu đến  checkreg.php
							if(u!=''){
								$.get('../checkreg.php?user='+u,function(data){
									//Nhận giá trị trả về của file checkreg.php và hiển thị trong phần label
									if(data){
										$("#lbuser").html('Bạn có thể dùng tài khoản này !').css("color","#0F0");
										$("#btndangky").removeClass('disabled');
										$("#btndangky").removeAttr('disabled');
									}else{
										$("#lbuser").html('Tài khoản đã tồn tại !').css("color","#F00");
										$("#btndangky").addClass('disabled');
										$("#btndangky").attr('disabled','disabled');
									}
								})
							} else $("#lbuser").html('');
                        });
                    });
                    </script>
                 </td>
              </tr>
              {if $id<=0}
              <tr>
                <td>Mật khẩu *</td>
                <td><input type="password" name="txtpass" id="txtpass" class="text-input small-size validate[required,minSize[6],maxSize[32],custom[onlyLetterNumber]]" {if $id >0} value="{$detail.taikhoan_pass}"{/if} /></td>
              </tr>
              <tr>
                <td>Xác nhận mật khẩu *</td>
                <td><input type="password" name="txtrepass" id="txtrepass" class="text-input small-size validate[required,equals[txtpass]]" {if $id >0} value="{$detail.taikhoan_pass}"{/if} /></td>
              </tr>
              {/if}
              <tr>
                <td>Email *</td>
                <td><input type="text" name="txtemail" class="text-input medium-size validate[required,custom[email]]" {if $id >0} value="{$detail.taikhoan_email}"{/if} ></td>
              </tr>
              <tr>
                <td>Số điện thoại</td>
                <td><input type="text" name="txtdt" class="text-input small-size validate[custom[onlyNumberSp]]" {if $id >0} value="{$detail.taikhoan_phone}"{/if} ></td>
              </tr>
              <tr>
                <td>Địa chỉ</td>
                <td><input type="text" name="txtdiachi" id="txtdiachi" class="text-input small-size validate[required,maxSize[32]]" {if $id >0} value="{$detail.taikhoan_diachi}"{/if}></td>
              </tr>
              <tr>
                <td>Giới tính</td>
                <td>
					<input type="radio" name="rdgender" value="1" id="rdgender_0" checked="checked" {if $id >0 && $detail.taikhoan_gioitinh==1} checked{/if}>Nam
                    <input type="radio" name="rdgender" value="0" id="rdgender_1" {if $id >0 && $detail.taikhoan_gioitinh==0} checked{/if}>Nữ        
                </td>
              </tr>
              <tr>
                <td>Trạng thái</td>
                <td>
					<input type="radio" name="rdtrangthai" value="1" id="rdgender_0" checked="checked" {if $id >0 && $detail.taikhoan_trangthai==1} checked{/if}>Hoạt động
                    <input type="radio" name="rdtrangthai" value="0" id="rdgender_1" {if $id >0 && $detail.taikhoan_trangthai==0} checked{/if}>Khóa        
                </td>
              </tr>
              <tr>
                <td>Quyền</td>
                <td>
					<input type="radio" name="rdquyen" value="1" id="rdgender_0" checked="checked" {if $id >0 && $detail.taikhoan_loai==1} checked{/if}>Quản trị
                    <input type="radio" name="rdquyen" value="0" id="rdgender_1" {if $id >0 && $detail.taikhoan_loai==0} checked{/if}>Người dùng        
                </td>
              </tr>
               <tr>
                <td>Mã bảo mật</td>
                <td><input name="txtser" type="text" id="txtser" size="5" class="text-input">
        <img src="../control/capcha.php" id="capcha" alt="ser">
        <img src="../templates/images/refresh.png" alt="refresh" id="rfimg" style="cursor:pointer" />
        <script>
        $(document).ready(function(e) {
            $("#rfimg").click(function(e) {
                $("#capcha").attr('src','../control/capcha.php');
            });
        });
        </script>
                </td>
      </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                {if $id>0}
				<span class="update"><input type="submit" name="btnthem" id="btnthem" class="button-input" value="Cập nhật"></span>
				{else}
                <span class="update"><input type="submit" name="btnthem" id="btnthem" class="button-input" value="Đăng ký"></span>
                {/if}  
                <span class="update"><input type="reset" name="btnreset" id="btnreset" class="button-input" value="Nhập lại"></span>
                </td>
              </tr>
            </table>
		</form>
        <h4 align="center">Các trường có dấu (*) bắt buộc phải nhập !</h4>